.card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px 20px 0 20px;
  width: 300px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
}

.imgContainer {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: visible;
  background-color: black;
}

.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.userName {
  font-weight: 900;
}

.userTag {
  margin-bottom: 0;
}

.userStats {
  display: flex;
  list-style: none;
  padding: 0;
  width: calc(100% + 40px);
  justify-content: space-evenly;
  margin-bottom: 0;
  background-color: lightgray;
}

.userStats li {
  padding: 10px;
  border: 1px solid gray;
  width: 100%;
}
.userStats li > div {
  padding: 10px;
  box-sizing: border-box;
}
.userNum {
  font-weight: 700;
}
